h1, h2, h3{
	text-align: center;
}

/*=========================Top header=========================*/
.top-header{
	text-align: center;
	
}
/*=========================Top-header Ends=========================*/


/*=========================Navigation Bar styling=========================*/
.nav-bar{
	background: grey;
	padding-left: 2px;

}
/*=========================Navigation Bar styling Ends=========================*/
<<<<<<< HEAD
/*=========================Parallax Start here=========================*/

@charset "utf-8";
/* CSS Document */




img{
	border: 0;
}

 #intro, #second{
	width: 100%;
	margin: 0 auto;
}

#intro{
	background:url('../images/firstBG.jpg') 50% 0px no-repeat fixed;
	color: white;
	height: 1200px;
	
	
}

#second{
	background: url('../images/secondBG.jpg') 50% 0 no-repeat fixed;
	color: white;
	/*height: 1500px;*/
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

#third{
	background: url('../images/thirdBG.jpg') 50% 0 no-repeat fixed;
	color: white;
	/*height: 1750px;*/
		
}
/*=========================Parallax Ends here=========================*/
=======

>>>>>>> 6f36b560ac0bc9600d7c483dccf340db77a20005

/*=========================Video Responsive=========================*/
.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/*=========================Video Responsive Ends here=========================*/

/*=========================Footer Styling Starts here=========================*/
.footer {
	clear: both;
	margin-top: 5%;
	padding-bottom: 5%;
	margin-right: 0px;
	margin-left: 0px;
  /*  background: none repeat scroll 0 0 #fff;
*/    box-shadow: 0 0 20px #000;
    color: #222;
    font-size: 1em;
    font-weight: 100%;
    line-height: 1.3;
    text-align: center;
}
.footer ul li{
	list-style: none;
	padding-left: o;
	display: inline-block;
}
.footer .logos{
	padding-left: 50%;
	
}
/*=========================Footer Styling Ends here=========================*/

/*=========================Reviews styling starts here=========================*/
.review{
	text-transform: uppercase;
	text-align: center;
	background-color: #FFC000;
	margin-top: 1%;
}
/*=========================Reviews styling goes here=========================*/

<<<<<<< HEAD


=======
>>>>>>> 6f36b560ac0bc9600d7c483dccf340db77a20005
