h1, h2, h3{
	text-align: center;
}
/*=========================Top header=========================*/
.top-header{
	text-align: center;
	
}
/*=========================Top-header Ends=========================*/


/*=========================Navigation Bar styling=========================*/
.nav-bar{
	background: grey;
	padding-left: 2px;

}
/*=========================Navigation Bar styling Ends=========================*/


/*=========================Video Responsive=========================*/
.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/*=========================Video Responsive Ends here=========================*/


/*=========================Cast/Crew Styling=========================*/
.cast-block{
	background: grey;
	border-color:#bdc3c7;
padding:20px;
	text-align: center;

}
/*=========================Cast/Crew Ends=========================*/